.forget-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  box-sizing: border-box;
}

.forget-logo {
  background: #ffffff;
  padding: 4px;
  text-align: center;
  color: rgb(7, 7, 7);
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  border: #1f2937 2px solid;
}

.forget-header {
  position: fixed;
  top: 0;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #939394;
  box-shadow: #2563eb 0px 2px 6px -1px;
  left: 0;
  right: 0;
}

.forget-title {
  text-shadow: #1f2937;
  margin-bottom: 20px;
  font-size: 20px;
  color: #1f2937;
}
.forget-card .forget-label {
  text-align: left;
}

.forget-card {
  background: white;
  padding: 30px;
  width: 70%;
  max-width: 500px;
  justify-content: space-between;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: inset 0 0 10px #2563eb;
}


.forget-card input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

.forget-card button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.support-button {
  padding: 8px 16px;
  color: #2563eb;
  background-color: white;
  border: 1px solid #2563eb;
  border-radius: 6px;
  font-size: 14px;
}
.support-button:hover {
  background-color: #e0e7ff;
}

.forget-card button:hover {
  background: #1e40af;
}

.footer-content {
  text-align: center;
  margin-top: 20px;
}
