/* * {
  outline: 1px solid red;
  } */
  
  .login-container {
  
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    box-sizing: border-box;
    
  }


.login-logo {
  background: #ffffff;
  padding: 4px;
  text-align: center;
  color: rgb(7, 7, 7);
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  border: #1f2937 2px solid;
}

.login-header {
  position: fixed;
  top: 0;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #939394;
  box-shadow: #2563eb 0px 2px 6px -1px;
  left: 0;
  right: 0;
}


.login-title {
  text-shadow: #1f2937;
  margin-bottom: 20px;
  font-size: 20px;
  color: #1f2937;
}
.login-card .login-label {
  text-align: left;
}

.login-card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: inset 0 0 10px #2563eb;
}

.login-card input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

.login-card button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.support-button {
  padding: 8px 16px;
  color: #2563eb;
  background-color: white;
  border: 1px solid #2563eb;
  border-radius: 6px;
  font-size: 14px;
}
.support-button:hover {
  background-color: #e0e7ff;
}

.login-card button:hover {
  background: #1e40af;
}

.forgot-password {
  padding: 2px;
  top: auto;
  font-size: 15px;
  color: #2563eb;
  text-decoration: none;
  margin-left: auto;
  margin-top: 10px;
  display: block;
}

.forgot-password:hover {
  text-decoration: underline;
}

.remember-me {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.footer-content {
  text-align: center;
  margin-top: 20px;
}
